// REMOVE DEFAULTS =============================

section{
    overflow: hidden;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// SET STANDARD STYLES ============================

h1, h2, h3 {
    font-family: 'Francois One', sans-serif;
    margin: 2rem 0; 
}

h1 {
    font-size: 6rem;
    line-height: 5rem;
}

h2 {
    font-size: 2.75rem;
    line-height: 2.75rem;
    padding-bottom: 10px;
}

h3 {
    font-size: 3.5rem;
    line-height: 4rem;
}

p, a, ::placeholder, i {
    font-family: 'Lato';
}

p{
    line-height: 1.25;
}