.CommuteSidebar {
  position: fixed;
  top: 2rem;
  right: 0;
  padding: 2rem 1.5rem;
  background-color: $color-3;
  color: $color-1;
  border: 2px solid rgba($color-1, .2);
  z-index: 100;

  &__img {
    width: 2.8rem;
  }

  &__icon {
    margin-right: .8rem;
  }

  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;

    &:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}

.show-sidebar {
  &-enter {
    transition: .4s;
    transform: translateX(100%);
  }

  &-enter-done {
    transition: .4s;
    transform: translateX(0);
  }
}