.CommuteSidebar {
  position: fixed;
  top: 2rem;
  right: 0;
  padding: 2rem 1.5rem;
  background-color: $color-2;
  color: $color-1;
  box-shadow: -10px 10px 11px -7px rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  z-index: 100;

  &__img {
    width: 2.8rem;
  }

  &__icon {
    margin-right: 0.8rem;
  }

  &__time {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;

    &:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}

.show-sidebar {
  &-enter {
    transition: 0.4s;
    transform: translateX(100%);
  }

  &-enter-done {
    transition: 0.4s;
    transform: translateX(0);
  }
}
