html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Nova Flat', sans-serif;
  font-family: 'Lato', sans-serif;
  background-image: url('../assets/sayagata-400px.png');
  background-attachment: fixed;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
}
