
// MEDIUM SCREENS =====================
@media (max-width: 975px) { 
      .Header {
          &__displayArea {
              width: 100%;
              height: 100%;
              border-radius: 0;
        }
    }
}

@media (max-width: 800px) { 
      .MapQuest {
          &__form {
              flex-direction: column;
              align-items: center;
              input {
                  width: 80%;
                  margin-bottom: 0;
              }
        }
    }

    .PodcastSearch {
        &__form {
            flex-direction: column;
            align-items: center;
              input {
                  width: 80%;
                  margin-bottom: 0;
              }
        }
    }

    .PodcastResults__item {
        flex-direction: column;
        
        img {
            display: inline-block;
            margin: 0 auto;
        }
    }

    .PodcastCard__submitButton {
        display: inline-block;
        margin: 0 auto;

    }

    .Episode__options--details {
        align-items: center;
    }

    .EpisodeResults__item{
        flex-direction: column;

        h2 {
            margin-top: 1rem;
        }

        img {
            display: inline-block;
            margin: 0 auto; 
        }
    }

}
// TABLET SCREENS ======================
@media (max-width: 640px) { 
      .Header {
          &__mainHeader::before {
            top: 120px;
      }
    }
}

// MOBILE SCREENS ========================
@media (max-width: 375px) { 
    html {
        font-size: 55%;
    } 
    
    .Header {
          &__mainHeader::before {
            top: 105px;
      }
    }
    
@media(max-width: 1100px){
    //Change title styles
    h2{
        font-size: 2.5rem;
        margin-top: 0;
    }
}

//Display "show more" button as container gets smaller
@media(max-width: 900px){
    .PodcastCard__button--showMore{
        display: block;
    }
}
    //Change max height of podcast description to match smaller screen
    .PodcastCard__description--snippet{
        max-height: 16rem;
    }
}