// FONTS ==========================
$font-headings: 'Francois One', sans-serif;
$font-body: 'Lato';


// COLORS =========================
$color-1: #001e31;
$color-2: #c2edd8;
$color-3: #24b62c;
$color-4: #ffff;
$color-5: #0000;



